# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# My additions below
# Emacs backup files
*~

# Config files
directory_paths

# Build directory
build/

# The Empty controllers of different sizes
Empty_01092
Empty_02048
Empty_03072
Empty_04096
Empty_06144
Empty_08192
Empty_12288
Empty_16384
Empty_24576
Empty_32768
Empty_49152
Empty_65536